@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control">
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control">
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control">
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <form method="get">
            <span style="color:black;font-weight:bold">Have an account?</span>

            <button type="submit" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</button>
        </form>

    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



@*@page
    @model RegisterModel
    @{
        ViewData["Title"] = "Register";
        Layout = "";
    }





    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    ---- Include the above in your HEAD tag --------


    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        body {
            padding-top: 4.2rem;
            padding-bottom: 4.2rem;
            background: rgba(0, 0, 0, 0.76);
        }

        a {
            text-decoration: none !important;
        }

        h1, h2, h3 {
            font-family: 'Kaushan Script', cursive;
        }

        .myform {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            padding: 1rem;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 1.1rem;
            outline: 0;
            max-width: 500px;
        }

        .tx-tfm {
            text-transform: uppercase;
        }

        .mybtn {
            border-radius: 50px;
        }

        .login-or {
            position: relative;
            color: #aaa;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .span-or {
            display: block;
            position: absolute;
            left: 50%;
            top: -2px;
            margin-left: -25px;
            background-color: #fff;
            width: 50px;
            text-align: center;
        }

        .hr-or {
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .google {
            color: #666;
            width: 100%;
            height: 40px;
            text-align: center;
            outline: none;
            border: 1px solid lightgrey;
        }

        form .error {
            color: #ff0000;
        }
        }
    </style>>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div id="second">
                        <div class="myform form ">
                            <div class="logo mb-3">
                                <div class="col-md-12 text-center">
                                    <h1>Signup</h1>
                                </div>
                            </div>
                            <form class="alert" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="form-group">
                                    <label asp-for="Input.FirstName">First Name</label>
                                    <input asp-for="Input.FirstName" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Firstname">
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.LastName"></label>
                                    <input asp-for="Input.LastName" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Firstname">
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control"   aria-describedby="emailHelp" placeholder="Confirm Password">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started For Free</button>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <p class="text-center"><a asp-area="Identity" asp-page="/Account/Login">Already have an account?</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function(){
        $('#pass2').focusout(function(){
            var pass = $('#password').val();
            var pass2 = $('#pass2').val();
            if(pass != pass2){
                alert('the passwords didn\'t match!');
            }

        });
    });
        </script>>*@

