@using Microsoft.AspNetCore.Identity
@model Wod.Models.WodApp.VIewModels.Post.PostVIewModel
@inject UserManager<Wod.Data.ApplicationUser> userManager

@{
    ViewData["Title"] = "Show Post";
    async Task ShowNestedComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(x => x.ParentId == parentId);

        if (!comments.Any())
        {
            return;
        }
        @foreach (var comment in comments)
        {
            <div class="comment-box">
                <span class="commenter-pic">
                    <img src="@comment.User.AvatarUrl" class="img-fluid">
                </span>
                <span class="commenter-name">
                    <a href="#">@comment.User.UserName</a> <span class="comment-time">@comment.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")</span>
                </span>
                <p class="comment-txt more">@comment.Content</p>
                <div class="comment-meta">

                    <button class="comment-reply reply-popup" onclick="test('@comment.Id')"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>
                </div>
                <div class="comment-box add-comment reply-box" id="content+@comment.Id">
                    <span class="commenter-pic">
                        <img src="@userManager.GetUserAsync(User).Result.AvatarUrl" class="img-fluid">
                    </span>
                    <form id="form1" method="post" asp-controller="Comment" asp-action="Create" enctype="multipart/form-data">
                        <input type="hidden" await asp-for="@Model.CommentModel.ParentId" value="@comment.Id" />
                        <input type="hidden" asp-for="@Model.CommentModel.PostId" value="@Model.Id" />
                        <input type="hidden" asp-for="@Model.CommentModel.UserId" value="@userManager.GetUserId(User)" />
                        <span class="commenter-name">

                            <input placeholder="Add a public reply" asp-for="@Model.CommentModel.Content" />
                            <span asp-validation-for="@Model.CommentModel.Content" class="text-danger"></span>
                            <button type="submit" class="btn btn-default">Reply</button>
                            <button type="reset" class="btn btn-default reply-popup">Cancel</button>
                        </span>
                    </form>
                </div>
                @{ await ShowNestedComments(comment.Id); }

            </div>
        }
    }
}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">

<!------ Include the above in your HEAD tag ---------->
<style>
    .comments-details button.btn.dropdown-toggle,
    .comments-details .total-comments {
        font-size: 18px;
        font-weight: 500;
        color: #5e5e5e;
    }

    .comments-details {
        padding: 15px 15px;
    }

    .comments .comments .dropdown,
    .comments .dropup {
        position: relative;
    }

    .comments button {
        background-color: transparent;
        border: none;
    }

    .comments .comment-box {
        width: 100%;
        float: left;
        height: 100%;
        background-color: #FAFAFA;
        padding: 10px 10px 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .comments .add-comment {
        background-color: transparent;
        border: none;
        position: relative;
        margin-bottom: 50px;
    }

    .comments .commenter-pic {
        width: 50px;
        height: 50px;
        display: inline-block;
        border-radius: 100%;
        border: 2px solid #fff;
        overflow: hidden;
        background-color: #fff;
    }

    .comments .add-comment .commenter-name {
        width: 100%;
        padding-left: 75px;
        position: absolute;
        top: 20px;
        left: 0px;
    }

    .comments .add-comment input {
        border-top: 0px;
        border-bottom: 1px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        outline: 0px;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        padding: 0;
        font-weight: normal;
    }

        .comments .add-comment input:focus {
            border-color: #03a9f4;
            border-width: 2px;
        }

    .comments .add-comment button[type=submit] {
        background-color: #03a9f4;
        color: #fff;
        margin-right: 0px;
    }

    .comments .add-comment button {
        background-color: #f5f5f5;
        margin: 10px 5px;
        font-size: 14px;
        text-transform: uppercase;
        float: right;
    }

    .comments .commenter-name .comment-time {
        font-weight: normal;
        margin-left: 8px;
        font-size: 15px;
    }

    .comments p.comment-txt {
        font-size: 15px;
        border-bottom: 1px solid #ddd;
        padding: 0px 0px 15px;
    }

    .comments .commenter-name {
        display: inline-block;
        position: relative;
        top: -20px;
        left: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .comments .comment-meta {
        font-size: 14px;
        color: #333;
        padding: 2px 5px 0px;
        line-height: 20px;
        float: right;
    }

    .comments .reply-box {
        display: none;
    }

    .comments .replied {
        background-color: #fff;
        width: 95%;
        float: right;
        margin-top: 15px;
    }

    /*======Responsive CSS=======*/
    @@media (max-width: 767px) {
        .comments .commenter-name {
            font-size: 13px;
            top: -5px;
        }

        .comments .commenter-pic {
            width: 40px;
            height: 40px;
        }

        .comments .commenter-name a {
            display: block;
        }

        .comments .commenter-name .comment-time {
            display: block;
            margin-left: 0px;
        }
    }
</style>



<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="span8 ">
            <div class="row d-flex justify-content-center">
                <div class="span8">
                    <h4><strong><a href="#">@Model.Tittle</a></strong></h4>
                </div>
            </div>
            <div class="row ">

                <div style="text-align: center;">
                    <img src="@Model.PictureUrl" style="max-width: 70%; height: auto;" alt="FYI, image alt text is required" />
                </div>

            </div>
            <form id="votesForm" method="post"></form>
            <div class="row row d-flex justify-content-center">
                <div class="span8 ">
                    <p></p>
                    <p>
                        <i class="fa fa-user"></i> by <a href="#">@Model.UserUsernameName</a>
                        | <i class="fa fa-calendar" style="color:Highlight"></i> @Model.CreatedOn.ToString("MMMM dd yyyy")
                        | <i class="fa fa-comment"></i> <a href="#">@Model.Comments.Count()</a>
                        | <i class="fas fa-tags"></i> Tags : <a asp-controller="Category" asp-action="Index" asp-route-category="@Model.CategoryName"><span class="label label-info">@Model.CategoryName</span></a>
                        <a href="javascript:void(0);" onclick="vote(@Model.Id, true)">  <i class="fas fa-thumbs-up active" id="thumbsUp" style="color:darkgrey"></i></a>
                        <a href="javascript:void(0);" onclick="vote(@Model.Id,false)">  <i class="fas fa-thumbs-down active" id="thumbsDown" style="color:darkgrey"></i></a> <span id="votesCount">@Model.VoteCount</span> points

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="comments">

                    <div class="comment-box add-comment" >
                        <form id="form1" method="post" asp-controller="Comment" asp-action="Create" enctype="multipart/form-data">
                            <span class="commenter-pic">
                                <img src="@userManager.GetUserAsync(User).Result.AvatarUrl" class="img img-fluid">
                            </span>
                            <input type="hidden" asp-for="@Model.CommentModel.ParentId" value="@null" />
                            <input type="hidden" asp-for="@Model.CommentModel.PostId" value="@Model.Id" />
                            <input type="hidden" asp-for="@Model.CommentModel.UserId" value="@userManager.GetUserId(User)" />
                            <span class="commenter-name">
                                <input placeholder="Add a public comment" asp-for="@Model.CommentModel.Content" />
                                <span asp-validation-for="@Model.CommentModel.Content" class="text-danger"></span>
                                <button type="submit" class="btn btn-default">Comment</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </span>
                        </form>
                    </div>

                    @{await ShowNestedComments(null); }


                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



<script>
    function vote(postId, VoteType) {
        var token = $("#votesForm input[name=__RequestVerificationToken]").val();
        var json = { postId: postId, VoteType: VoteType };
        $.ajax({
            url: "/api/Vote",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {
                $("#votesCount").html(data.count);
            }
        });
    };
</script>


<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script>
    $("#thumbsUp").click(function () {
        $("#thumbsUp").css("color", "blue");
        $("#thumbsDown").css("color", "darkgrey");
    });
    $("#thumbsDown").click(function () {
        $("#thumbsDown").css("color", "red");
        $("#thumbsUp").css("color", "darkgrey");
    });

</script>

<script>
    // Reply box popup JS
    $(document).ready(function () {
        $(".reply-popup").click(function () {
            
            $(".reply-box").toggle();
        });
    });
</script>
